.animation-container {
    position: relative;
  }
  
  .animated-object {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: bounce 1s infinite;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  @keyframes Rebounce {
    50% {
      transform: translateY(0);
    }
    0%, 100% {
      transform: translateY(-20px);
    }
  }

  @keyframes moveUp {
    0% {
      opacity: 0.1;
      transform: translateX(-20px) translateY(-10px) ;
    }
    50% {
      opacity: 0.7;
      transform: translateX(-40px) translateY(-20px) ;
    }
    100% {
      opacity: 0;
      transform: translateX(-80px) translateY(-40px) ;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }